.header{
    margin-top: 40px;
    margin-bottom: 60px;
    &__block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 70px;
        &--icon{
            color: #000;
            text-align: center;
            font-family: Gilroy-Bold;
            font-size: 35px;
            font-weight: 800;
            line-height: 43px;
            letter-spacing: -0.7px;
            img{
                margin-right: 10px;
            }
        }
        &--menu{
            color: #252525;
            text-align: center;
            font-family: Gilroy-medium;
            font-size: 25px;
            font-weight: 400;
            line-height: 31px;
            text-transform: uppercase;
        }
    }
    &__span{
        color: #000;
        font-family: Gilroy-regular;
        font-size: 35px;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: -0.7px;
        text-transform: uppercase;
    }
}