.friends{
    margin: 70px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: "a b c d e f g";
    &__item{
        display: flex;
        height: 70px;
        box-sizing: border-box;
        padding: 15px 40px;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: #fff;
        &-1{
            grid-area: a;
        }
        &-2{
            grid-area: b;
        }
        &-3{
            grid-area: c;
        }
        &-4{
            grid-area: d;
        }
        &-5{
            grid-area: e;
        }
        &-6{
            grid-area: f;
        }
        &-7{
            grid-area: g;
        }
    }
}