.hero{
    &__text{
        color: #252525;

        text-align: center;
        font-family: Gilroy-Bold;
        font-size: 150px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 173px;
    }
    &__subtext{
        text-align: center;
        color: #252525;
        font-family: Gilroy-regular;
        font-size: 150px;
        font-weight: 300;
        line-height: 170px;
        text-transform: capitalize;
        margin-bottom: 30px;
    }
    &__img{
        &-arrow{
            display: block;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        &-hero{
            display: block;
            object-fit: cover;
            width: 100vw;
        }
    }
    &__block{
        margin:70px 0;
        display: flex;
        gap: 70px;
        justify-content: space-between;
        align-items: center;
        &__text{
            max-width: 1295px;
            color: #252525;
            font-family: Gilroy-regular;
            font-size: 62px;
            font-weight: 300;
            line-height: 72.5px;
            margin-left: 70px;
        }
        &-media{
            width: 100%;
            box-sizing: border-box;
            background-color: #252525;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 30px;
            padding: 60px 70px 60px 0;
            &__text{
                color: #FFF;
                text-align: right;
                font-family: Gilroy-Medium;
                font-size: 32px;
                font-weight: 400;
                line-height: 32px;
                text-transform: uppercase;
            }
            &__icons{
                display: flex;
                gap: 20px;
            }
        }


    }
    &__span{
        color: #252525;
        font-family: Gilroy-regular;
        font-size: 62px;
        font-weight: 800;
    }
}