@media (max-width:1200px) {
    .wrapper{
        max-width: 1200px;
    }
    .header__block{
        margin: 0 30px;
    }
    .hero{
        &__span{
            font-size: 30px;
            line-height: normal;
        }
        &__text{
            font-size: 95px;
            line-height: 137.5px;
        }
        &__subtext{
            font-size: 95px;
            line-height: 137.5px;
        }
        &__img-hero{
            height: 956px;
        }
        &__block{
            flex-direction: column;
            margin: 0;
            &__text{
                font-size: 30px;
                line-height: normal;
                margin: 30px;
            }
            &-media{
                padding: 40px 30px 40px 0;
            }
        }
    }
    .friends{
        grid-template-areas: ". a a b b c c ."
                             "d d e e f f g g";
        gap: 20px;
        margin: 40px 30px;
    }
    .work{
        margin: 30px 0;
        &__text{
            font-size: 150px;
            letter-spacing: 6px;
            line-height: 173px;
        }
        &__grid{
            grid-template-areas: "b"
                                 "c"
                                 "a"
                                 "d"
                                 "e"
                                 "f";
            &__item-1, &__item-2{
                gap: 30px;
            }
        }
    }

    .team{
        margin: 30px;
        &__text{
            font-size: 150px;
            line-height: 173px;
        }
        &__grid{
            grid-template-areas: "a b"
                                 "c d"
                                 "e f"
                                 "g g";
        }
    }
}

@media (max-width:768px) {
    .friends{
        grid-template-areas: ". a a a ."
                             ". b b b ."
                             "c c d d d"
                             "e e e f f"
                             ". g g g .";
        row-gap: 20px;
        column-gap: 20px;
        margin: 20px;
    }
    .work{
        &__text{
            font-size: 80px;
            letter-spacing: 3.2px;
            line-height: 92px;
        }
    }
    .team{
        margin: 20px 30px;
        &__text{
            font-size: 80px;
            line-height: 92px;
        }
        &__grid{
            grid-template-areas: 
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g";
            &__block{
                align-items: center;
                &-icons{
                    align-self: center;
                }
            }
            &__cont{
                align-items: center;
                &-subtext{
                    font-size: 40px;
                    text-align: center;
                    max-width: 438px;
                }
                &-link{
                    align-self: center;
                    width: 75%;
                }
            }
        }
    }
}