.team{
    margin: 50px 70px;
    &__text{
        text-align: center;
        color: #252525;
        font-family: Gilroy-medium;
        font-size: 212px;
        font-weight: 300;
        line-height: 244px;
        letter-spacing: 8.48px;
        text-transform: uppercase;
        padding-bottom: 50px;
    }
    &__grid{
        display: grid;
        grid-template-areas: "a b c d"
                             "e f g g";
        align-items: center;
        row-gap: 60px;
        column-gap: 40px;
        &__block{
            display: flex;
            flex-direction: column;
            gap: 15px;
            &-text{
                color: #333;
                font-family: Gilroy-bold;
                font-size: 30px;
                font-weight: 800;
                text-transform: uppercase;                
            }
            &-subtext{
                color: #333;
                font-family: Gilroy-Medium;
                font-size: 20px;
                font-weight: 400;                
            }
            &-icons{
                align-self: flex-end;
                display: flex;
                gap: 10px;
            }
        }
        &__cont{
            grid-area: g;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
            &-text{
                color: #333;
                font-family: Gilroy-Regular;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                text-transform: uppercase;
            }
            &-subtext{
                color: #333;
                font-family: Gilroy-Bold;
                font-size: 64px;
                font-weight: 400;
                text-transform: uppercase;
            }
            &-link{
                align-self: flex-start;
                display: flex;
                padding: 16px 30px;
                align-items: center;
                justify-content: center;
                gap: 10px;
                border-radius: 50px;
                background: #252525;
                color: #FFF;
                font-family: Gilroy-Medium;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                text-transform: capitalize;
            }
        }
    }
}