.work{
    margin: 70px;
    &__text{
        color: #252525;
        text-align: center;
        font-family: Gilroy-regular;
        font-size: 212px;
        font-weight: 300;
        line-height: 244px;
        letter-spacing: 8.48px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    &__grid{
        display: grid;
        grid-template-areas: "a b c"
                             "d e f";
        align-items: center;
        justify-items: center;
        row-gap: 70px;
        column-gap: 40px;
        &__item{
            max-width: 567px;
            max-height: 567px;
            &-1{
                grid-area: a;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &-2{
                grid-area: b;
            }
            &-3{
                grid-area: c;
            }
            &-4{
                grid-area: d;
            }
            &-5{
                grid-area: e;
            }
            &-6{
                grid-area: f;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &-cont{
                display: flex;
                flex-direction: column;
                gap: 30px;
                &-text{
                    color: #000;
                    font-family: Gilroy-Bold;
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 44px;
                    text-transform: uppercase;
                }
                &__wrapper{
                    display: flex;
                    gap: 30px;
                }
                &-subtext{
                    display: flex;
                    padding: 15px 30px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    background-color: #fff;
                    color: #252525;
                    font-family: Gilroy-Medium;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
            &-link{
                align-self: flex-end;
                display: flex;
                padding: 16px 30px;
                align-items: center;
                justify-content: center;
                gap: 10px;
                border-radius: 50px;
                background: #252525;
                color: #FFF;
                font-family: Gilroy-Medium;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                text-transform: capitalize;
            }
        }
    }
    &__link{
        display: flex;
        padding: 15px 60px;
        align-items: center;
        border-radius: 50px;
        background: #FFF;
        color: #252525;
        font-family: Gilroy-Medium;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
}